* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sb * {
    border: 1px dashed black;
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Sedgwick Ave Display', cursive;
}

header {
    width: 100%;
    height: 75px;
    background-color: red;
}

ul {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
    list-style: none;
}

li {
    padding: 10px 15px;
    margin: 10px;
    background-color: white;
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: black;
}

/* COMMON */

#scarpa1 {
    background-color: red;
}

.box {
    width: 100%;
    height: 100vh;
    position: relative;
}

.overlay {

}
